$map-legend-header-height: 33px;
$map-legend-max-width: 295px;
$secondary-gray40: #999;
$secondary-gray20: #ccc;
$secondary-gray4: #f6f6f6;

.map-legend {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 28vw;
  max-height: 100%;
  min-width: 256px;
  max-width: $map-legend-max-width;
  display: flex;
  flex-direction: column;
  z-index: 1010;
  background-color: #fff;
  box-shadow: 2px 2px 0 0 $secondary-gray40;
  font-family: "AvenirNextLTW01-Regular";

  @media screen and (max-width: 576px) {
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--collapsed {
    width: 64px;
    min-width: 64px;

    @media screen and (max-width: 576px) {
      left: auto;
      right: 10px;
      bottom: 20px;
    }
  }

  &__header {
    height: $map-legend-header-height;
    padding: 4px;
    margin: 0;
    background-color: $secondary-gray4;
    border: solid 1px $secondary-gray20;
    box-shadow: 0 1px 0 0 $secondary-gray40;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $secondary-gray20;
      border-color: #000 !important;
      color: #000 !important;
      fill: #000;
    }
  }

  &__header-icon {
    fill: #000;
    height: 24px;
    width: 24px;
    display: inline-block;

    .map-legend--collapsed &--expanded {
      display: none;
    }

    .map-legend--expanded &--collapsed {
      display: none;
    }
  }

  &__header-title {
    margin: 0px 4px;
    flex-grow: 1;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-family: "Avenir LT W01 85 Heavy";
    text-align: left;
    display: inline-block;
    width: calc(100% - 56px);
    vertical-align: top;

    .map-legend--collapsed & {
      display: none;
    }
  }

  &__body {
    padding: 12px 16px;
    border: solid 1px $secondary-gray20;
    border-top: none;

    .map-legend--collapsed & {
      display: none;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 4px 0px;
    font-size: 16px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-left: -1px;
    margin-right: 7px;
  }
}
