@import '~amsterdam-stijl/dist/scss/ams-colorpalette';
@import '~amsterdam-stijl/dist/scss/ams-breakpoints';

.header-component {
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 0 0 #999999;
  
  .header-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    @media (min-width: 576px) {
      margin-left: calc(8.33333% - 72px);
    }
  }
  
  .map-thumbnail {
    width: 62px;
    height: 30px;
    margin-left: 10px;
    margin-right: 14px;
  }

  .header-title {
    color: $ams-zwart;
  }

}
