@font-face {
  font-family: 'Amsterdam Sans';
  src: url('./static/fonts/AmsterdamSans/AmsterdamSans-Regular.woff2') format('woff2'),
    url('./static/fonts/AmsterdamSans/AmsterdamSans-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Amsterdam Sans';
  src: url('./static/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff2') format('woff2'),
    url('./static/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Amsterdam Sans';
  src: url('./static/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff2') format('woff2'),
    url('./static/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff') format('woff');
  font-weight: 800;
}

html,
body {
  height: 100vh;
  height: calc(100vh - env(safe-area-inset-bottom));
  width: 100%;
}

p {
  line-height: 26px;
}

ul li {
  margin: 0;
  padding: 0;
  line-height: 26px;
  text-indent: 0;
}

ul {
  padding-left: 18px;
}

dd {
  margin: 0;
}

#app {
  min-height: 100vh;
  min-width: 100%;
  background-color: #e5e5e5;

  .content.container,
  .content.container-fluid {
    padding-bottom: 20px;
    min-height: 60vh;

    @media screen and (max-width: 576px) {
      margin-top: 0;
    }
  }

  .app-container {
    padding: 0;
    background-color: white;
  }

  .container {
    width: auto;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.4em;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.55556em;
}

main {
  margin-top: 20px;

  @media screen and (max-width: 576px) {
    margin-top: 0;
  }
}

@media print {
  html,
  body {
    height: 100%;
  }

  @page {
    size: A4;
    margin-left: 1cm;
    margin-right: 1cm;
  }

  // Reset the flex model to allow printig on more than one page
  .row {
    display: block;
  }

  .no-print {
    display: none !important;
  }

  .page-break {
    page-break-after: always;
  }
}

.sr-grouped-marker {
  width: 16px;
  height: 16px;

  span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 2px;
    color: white;
  }
}

.sr-result-count {
  margin-top: 0px;
  margin-bottom: 8px;
}

.sr-highlighted-marker {
  z-index: 981;
}

.leaflet-overlay-pane {
  z-index: 601;
}
