.contact-form {
  &__device-details {
    width: 50%;
    background-color: #eee;

    @media screen and (max-width:992px) {
      width: 75%;
    }

    @media screen and (max-width:576px) {
      width: 100%;
    }
  }

  .table-borderless {
    td {
      border: none;
      box-shadow: none;
    }
    td + td {
      padding-left: 50px;
    }
  }
  
  label {
    font-weight: 900;
  }
  
  .rij {
    margin-top: 16px;

    & .label {
      margin-bottom: 8px;
    }
  }

  tr {
    padding: 5px;

    &:hover {
      background-color: #eee;
    }
  }

  .row_ongeldig {
    border-left: 3px solid #ec0000;
    padding-left: 13px;
  }

  .group-error {
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: 0.875rem;
    color: #ec0000;
  }
}

.form-success {
  a.action {
    padding-left: 0;
  }

  .email {
    font-family: 'Avenir LT W01 85 Heavy';
  }
}
